# OS
.DS_Store

# Rider / JetBrains
.idea/

# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Node / Vite
node_modules/
dist/

# Env files
.env
.env.*
!/.env.example

appsettings.Development.json
